#fortune-output{
  transition: color 2s, font-size 2s, transform 2s;
  transform-origin: center center;
  text-align: center;

}

body,html{
  height:100%;
  background
}
.center{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fortune-button{

}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
